/* ASPECTOS GENERALES */
*{font-size: 20px}

/* CABECERA PRINCIPAL donde se encuentran título y menú (ya veremos que más) */
#cabecera{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
#tituloPrincipal{
	width: 33%;
	color: orange;
	font-size: 40px;
	text-align: center;
}
/* HASTA AQUÍ LA CABECERA 
-------------------------------------- */

/* ESTILO DEL CUERPO PRINCIPAL (O BODY), PERO PARA DIFERENCIARLO
DEL BODY ORIGINAL LO PONGO EN CASTELLANO.... QUE ME LÍO*/
#cuerpo{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
			/* ¿QUE ENCONTRAMOS EN EL CUELLLPO? -----> */
.ejercicios{
	width: 70%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 5px;
}
.ejerJS-8-9-10{
	height: 75px;
	width: 33%;
	background-color: orange;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ejercicio-11{
	width: 30%;
	background-color: antiquewhite;
	display: flex;
	align-content: stretch;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0.5% 0.5% 0.5% 0.5%;
}